<div class="page">
  <h1>MovieMatch</h1>

  <div>
    <label>Pseudo</label>
    <input type="text" ng-model="vm.pseudo"/>
  </div>

  <div ng-if="vm.error == 'INVALID_PSEUDO'" class="alert alert-danger">
    <span>Le pseudo saisi n'est pas valide.</span>
  </div>
  <div ng-if="vm.error == 'ERROR_ROOM_CREATION'" class="alert alert-danger">
    <span>Une erreur est survenue lors de la création de votre groupe.</span>
  </div>

  <div>
    <input type="button" class="btn btn-success" value="Valider" ng-click="vm.validate()"/>
  </div>
</div>

<style>
</style>